<head>

<title>{{ title }}</title>
  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<!--Vue 2.6-->
<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>

<!--Bootstrap + JQuery-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}">-->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!--Bootstrap Toggle-->
<!-- https://www.bootstraptoggle.com/ -->
<link href="{{ url_for('static', filename='css/bootstrap4-toggle.min.css') }}" rel="stylesheet"> 
<script src="{{ url_for('static', filename='js/bootstrap4-toggle.min.js') }}"></script>

<!--Font Awesome-->
<link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">

<!--ChartJS-->
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

<script src="{{ url_for('static', filename='js/charts.js') }}"></script>


<!--PiKiln JS and CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>