<!doctype html>
<html lang="en" class="h-100">

{% with title="Home" %}
{% include 'head.html' %}
{% endwith %}


<body class="d-flex flex-column h-100">
    <div class="main-container" id="app">
  {% include 'nav.html' %}

  <main role="main" class="flex-shrink-0">
    <div class="container">

        <div id="home-schedule-list" v-bind:class="{'row':true, 'd-none':(firing.status === 'firing')}">
          <div class="col-12">
            <h2>Select Firing Schedule:</h2>
            <!-- <select class="custom-select" id="fireScheduleList" name="fireScheduleList">
              <option selected>Select Schedule</option>
            </select> -->
            <select class="custom-select" @change="onScheduleSelect($event)">
                <option value="select-schedule" selected>Select Schedule</option>';
                <option v-for="option in scheduleList" v-bind:value="option.path">[[ option.name ]]</option>
              </select>
          </div>
        </div>

      <div id="schedule-group" v-bind:class="{'d-none':(schedule.path === '')}">

      <h2 class="mb-3 mt-3" contenteditable="false" id="schedule-title">[[ schedule.name ]]</h2>

      <h5>Firing Schedule</h5>
      <div id="table" class="table-responsive table-editable">
        <table class="table table-striped table-sm schedule">
          <thead>
            <tr class="schedule-header">
              <th>SEG #</th>
              <th class="degrees">RATE<br>([[ schedule.units == "fahrenheit" ? "°F" : "°C"]]/HOUR)</th>
              <th class="degrees">TARGET<br>[[ schedule.units == "fahrenheit" ? "TEMP (°F)" : "TEMP (°C)"]]</th>
              <th>HOLD TIME<br>(MINUTES)</th>
            </tr>
          </thead>
          <tbody id="schedule-body">

            <!--firing segments loaded here-->
            
            <tr v-for="(segment, index) in schedule.segments" v-bind:class="{'segment-row' : true, 'current-segment':(index === firing.segment),  'text-light':(index === firing.segment)}">
                <td></td>
                <td class="numbersOnly" contenteditable="false">[[ segment.rate ]]</td>
                <td class="numbersOnly" contenteditable="false">[[ segment.temp ]]</td>
                <td class="numbersOnly" contenteditable="false">[[ segment.hold ]]</td>
            </tr>
           

          </tbody>
        </table>
      </div>
      
      

      <div class="row">
        <h5 class="col-12 mb-3"><i class="fas fa-thermometer-half"></i> Current Temperature: 
          <span id="home-current-temperature" v-cloak>[[ cTemp.temp ]]</span><span v-cloak></span>[[ cTemp.units == "celsius" ? "°C" : "°F" ]]</span>
        </h5>

        <div id="time-cost-estimates" v-bind:class="{'col-12' : true, 'd-none':(firing.status === 'firing')}">
        <!--cost estimates-->
        <ul id="home-estimates" v-bind:class="{'list-group':true, 'col-12':true, 'mb-3':true, 'd-none':(firing.status === 'firing')}">
          <li class="list-group-item"><b>Estimated Time:</b> <span id="home-time">[[ timeEstimate ]]</span></li>
          <li v-bind:class="{'list-group-item' : true, 'd-none':(firing.status !== 'firing')}"><b>Estimated Cost:</b> <span id="home-cost">$ [[ cost ]]</span></li>
        </ul>

        </div>
      </div>
      
        
        <div id="home-time-group" v-bind:class="{'row':true, 'mb-3':true, 'd-none':(firing.status !== 'firing')}">
          
          <h5 class="col-12"><i class="fas fa-hourglass-half"></i> Time Remaining: <span id="home-time-remaining">[[ firing.timeRemaining ]]</span></h5>
        
          <div class="progress">
            <div id="home-time-bar" class="progress-bar progress-bar-striped progress-bar-animated" :style="{ width: ((firing.currentTime/firing.totalTime) * 100) + '%' }"></div>
          </div>
        
        </div>

        <div id="home-complete" v-bind:class="{'row' : true, 'd-none':(firing.status !== 'complete')}">
          <h5 class="col-12"><i class="fas fa-flag-checkered"></i> Firing Complete:</h5>
          <!--cost estimates-->
          <div class="col-12">
            <ul id="home-summary" class="list-group col-12 mb-4">
              <li class="list-group-item"><b>Total Time:</b> <span id="home-time-summary">[[ timeEstimate ]]</span></li>
              <li class="list-group-item"><b>Cost:</b> <span id="home-cost-summary">$3.50</span></li>
            </ul>
          </div>
        </div>


        <div id="home-error" v-bind:class="{'row' : true, 'd-none':(firing.status !== 'error')}">
          <h5 class="col-12"><i class="fas fa-exclamation-triangle"></i><span id="home-error-title"> [[ firing.error ]]</span></h5>
          <p id="home-error-message" class="col-12">There was an error detected with the kiln. Please verify that all of the components are working correctly.</p>
        </div>

      

      <!--start firing schedule-->
      <div class="row mb-3">
        <div class="col-12 text-right">
          <span v-bind:class="{'d-none':(firing.status === 'firing')}">
              <button data-toggle="modal" data-target="#start-confirm-modal" id="btn-start-schedule-modal" class="btn mb-2 full-width-small btn-primary" ><i class="fas fa-burn"></i> Start Schedule</button>
          </span>
          <span v-bind:class="{'d-none':(firing.status !== 'firing')}">
              <button data-toggle="modal" data-target="#stop-confirm-modal" id="btn-stop-schedule-modal" class="btn mb-2 full-width-small btn-danger"><i class="fas fa-ban"></i> Stop Schedule</button>
          </span>
            
        </div>
      </div>

      

    </div>
  </main>


  {% with modalid="start-confirm-modal", modaltitle="Start Firing Schedule?", modalbody="", buttonid="btn-start-schedule", modalbutton="<i class='fas fa-burn'></i> Start Schedule", modalfunction="startFire(schedule.path)" %}
{% include 'modal-primary.html' %}
{% endwith %}

{% with modalid="stop-confirm-modal", modaltitle="Stop Firing Schedule?", modalbody="", buttonid="btn-stop-schedule", modalbutton="<i class='fas fa-ban'></i> Stop Schedule", modalfunction="stopFire"  %}
{% include 'modal-danger.html' %}
{% endwith %}

</div>

  {% include 'footer.html' %}



{% include 'footer-scripts.html' %}

    
</body>

</html>