<!doctype html>
<html lang="en" class="h-100">

{% with title="Settings" %}
{% include 'head.html' %}
{% endwith %}

<body class="d-flex flex-column h-100">
        <div class="main-container" id="app">
    {% include 'nav.html' %}

    <main role="main" class="flex-shrink-0 mb-4">
        <div class="container">
            <form id="form-settings">
                <h2>Settings</h2>
                <div class="form-group">

                    <!--Temperature-->
                    <div class="row">
                        <div class="col-12 mt-2">
                            <h5><i class="fas fa-thermometer-half"></i> Temperature</h5>
                            <label for="units-checkbox">Default Units</label><br>
                            <div class="btn-group btn-group-toggle">
                                <label v-bind:class="{'btn':true, 'btn-primary':(settings.units === 'fahrenheit'), 'btn-light':(settings.units !== 'fahrenheit')}">
                                    <input type="radio" name="radio" value="fahrenheit" id="fahrenheitRadio" checked="checked" v-model="settings.units"> Fahrenheit
                                </label>
                                <label v-bind:class="{'btn':true, 'btn-primary':(settings.units === 'celsius'), 'btn-light':(settings.units !== 'celsius')}">
                                    <input type="radio" name="radio" value="celsius" id="celsiusRadio" v-model="settings.units"> Celsius
                                </label>
                            </div>
                            
                        </div>
                    </div>

                    <!--Max Temperature-->
                    <div class="form-group mt-3">
                        <label class="degrees" for="maxTemp">Alarm Max Temperature <span id="max-temp-degrees"></span></label>
                        <input type="number" min="1" max="3000" class="form-control" name="maxTemp" id="maxTemp" aria-describedby="max-temp" placeholder="2500" v-model.number="settings.maxTemp">
                        <small id="maxTempHelp" class="form-text text-muted">Shuts off kiln if temperature exceeded</small>
                    </div>

                    <!--Thermocouple Offset-->
                    <div class="form-group mt-3">
                        <label class="degrees" for="maxTemp">Thermocouple Offset <span id="offset-temp-degrees"></span></label>
                        <input type="number" min="-1000" max="1000" class="form-control" name="offsetTemp" id="offsetTemp" aria-describedby="offsetTemp" placeholder="0" v-model.number="settings.offsetTemp">
                        <small id="offsetTempHelp" class="form-text text-muted">Thermocouples can be +/- 5 degrees off. Put your thermocouple in ice water and enter measured the temperature here to compensate for error.</small>
                    </div>

                    <!--Electricity Cost-->
                    <h5><i class="fas fa-bolt"></i> Electrical</h5>
                    <div class="form-group mt-1">
                            <label for="volts">Kiln Voltage</label>
                            <input type="number" step="1" class="form-control" name="volts" id="volts" placeholder="220" v-model.number="settings.volts">
                            <small id="voltsHelp" class="form-text text-muted">Measure your mains voltage usually 110 or 220 volts for USA/Canada</small>
                        </div>
                    <div class="form-group mt-1">
                        <label for="maxTemp">Electricity Cost Per Kilowatt</label>
                        <input type="number" step="0.01" class="form-control" name="cost" id="cost" placeholder="0.14" v-model.number="settings.cost">
                    </div>
                </div>

                <h5 class="mt-4"><i class="fas fa-envelope"></i> Notifications</h5>
                <p>Get email updates when your firing has completed, or if your kiln has any thermal errors.</p>

                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email Address" v-model="settings.email" />
                </div>

                <!--<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Settings</button>-->
                
                <h5 class="mt-4"><i class="fas fa-flask"></i> Experimental</h5>
                <!--Receiver Email-->
                <div class="form-group">
                    <label for="receiver">Vent Blower Fan (GPIO 17)</label>
                    <div><input type="checkbox" id="toggle-fan" data-toggle="toggle" data-on="Enabled" data-off="Disabled"></div>
                    <small id="fanHelp" class="form-text text-muted">This currently isn't implemented</small>

                    
                </div>


            </form>
            <button id="btn-save-settings" class="btn btn-primary" v-on:click="saveSettings"><i class="fas fa-save"></i> Save Settings</button>

            <div id="alert-container"></div>
            

        </div>
    </main>
</div>
    {% include 'footer.html' %}

    {% include 'footer-scripts.html' %}

    
</body>

</html>